.lista-produtos {
  padding: 40px;
  text-align: center;
  background: #111;
  min-height: 100vh;
  color: #f5f5f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.lista-produtos h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #00d1ff;
}

/* GRID */
.container-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 30px;
}

/* CARD */
.produto {
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  display: flex;
  flex-direction: column;
  height: 540px; /* CARD MAIOR */
}

.produto:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(0, 209, 255, 0.3);
}

/* IMAGEM */
.produto-img {
  width: 100%;
  height: 250px; /* MAIS ALTO PARA NÃO CORTAR */
  object-fit: contain; /* agora NUNCA corta */
  background: #0f0f0f;
  padding: 12px;
  border-radius: 16px;
  margin-bottom: 15px;
}

/* INFO */
.info {
  text-align: left;
  flex: 1;
}

/* Categoria */
.categoria {
  font-size: 12px;
  color: #00d1ff;
  background: #00d1ff22;
  padding: 4px 10px;
  border-radius: 8px;
}

/* Nome */
.produto h2 {
  margin: 10px 0 6px;
  color: #fff;
  font-size: 20px;
}

/* Avaliação */
.avaliacao {
  color: gold;
  font-size: 17px;
  margin-bottom: 10px;
}

/* Descrição */
.descricao {
  font-size: 14px;
  color: #cfcfcf;
  margin-bottom: 8px;
}

/* Estoque */
.estoque {
  font-size: 14px;
  margin-bottom: 5px;
  color: #60ffa3;
}

/* Código */
.codigo {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 5px;
}

/* Parcelamento */
.parcelamento {
  font-size: 14px;
  color: #00d1ff;
  margin-bottom: 10px;
}

/* Preço */
.preco strong {
  color: #00ff9d;
  font-size: 22px;
}

/* BOTÕES */
.acoes {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-detalhes,
.btn-comprar {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.25s;
}

/* btn detalhes */
.btn-detalhes {
  background: #333;
  color: #fff;
}

.btn-detalhes:hover {
  background: #444;
}

/* btn comprar */
.btn-comprar {
  background: #00d1ff;
  color: #000;
}

.btn-comprar:hover {
  background: #00b7dd;
}
